@{
    ViewData["Title"] = "Genesis Prime Registration";
}
<head>
    <style>
        /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
        for details on configuring this project to bundle and minify static web assets. */
        body {
            background-image: url('https://images.alphacoders.com/721/721671.jpg');
            /*background-image: url('Mainbackground.jpg');*/
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: auto;
            padding-top: 50px;
            padding-bottom: 20px;
        }

        a {
            color: orange;
        }

        /* Wrapping element */
        /* Set some basic padding to keep content from hitting the edges */
        .body-content {
            padding-left: 15px;
            padding-right: 15px;
        }


        #footer {
            background-color: black;
            position: absolute;
            bottom: 1px;
            width: inherit;
            height: 48px; /* Height of the footer */
            text-align: center;
            padding-top: 12px;
            color: paleturquoise;
            text-shadow: 6px 6px 6px black;
            border-color: paleturquoise;
            border-radius: 8px;
        }

        #header {
            background-color: black;
            position: absolute;
            top: 0;
            width: inherit;
            height: 72px; /* Height of the header */
            text-align: center;
            font-size: 36px;
            padding: 8px;
            color: orange;
            text-shadow: 6px 6px 6px black;
            border-color: paleturquoise;
            border-radius: 8px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid white;
            margin: 1em 0;
            padding: 0;
        }

        #inputField {
            background-color: rgba(130, 251, 245, 0.4);
            width: 100%;
            border: 1px solid paleturquoise;
            border-radius: 8px;
            color: paleturquoise;
            font-weight: normal;
        }

        #buttonReg {
            background: rgba(40, 40, 55, 1.0);
            border: 1px solid paleturquoise;
            border-radius: 8px;
            position: center;
            color: orange;
        }

        #registrationDiv {
            background-color: black;
            border: 1px solid paleturquoise;
            position: center;
            border-radius: 8px;
            width: 50%;
            height: 50%;
            
        }

        #textConsistency {
            color: paleturquoise;
        }

        #inputTitle {
            color: orange;
            font-size: 12pt;
            font-weight: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        #inputSubtitle {
            color: paleturquoise;
            font-size: 8pt;
        }

        #mainContainer {
            background-color: none;
            position: absolute;
            top: 128px;
            border: none;
            border-radius: 8px;
            margin-bottom: 50px;
            height: inherit;
            width: inherit;
        }

        #serverStatusContainer {
            background-color: black;
            border: 1px solid paleturquoise;
            border-radius: 8px;
            position: center;
            bottom: 150px;
            height: 10%;
            width: 50%;
        }

        #serverStatusText {
            font-weight: bold;
            font-size: 36px;
            color: orange;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

    </style>
</head>
<body>
    <div class="container" id="mainContainer">
        <div id="registrationDiv">
            <form asp-action="Register" method="post">
                <table align="center">
                    <tr style="padding:24px">
                        <td style="padding:24px">
                            <p id="inputTitle">Account Name: <input type="text" name="Email" id="inputField" /></p>
                            <p id="inputSubtitle">Enter your account's username.</p>
                        </td>
                    </tr>
                    <tr style="padding:24px">
                        <td style="padding:24px">
                            <p id="inputTitle">Password: <input type="password" name="Password" id="inputField" /></p>
                            <p id="inputSubtitle">Type the password you want to use for your account.</p>
                        </td>
                    </tr>
                    <tr style="padding:24px">
                        <td style="padding:24px">
                            <p id="inputTitle">Confirm Password: <input type="password" name="Confirmation" id="inputField" /></p>
                            <p id="inputSubtitle">Please re-type your password.</p>
                        </td>
                    </tr>
                    <tr style="padding:24px">
                        <td style="padding:24px">
                            <input type="submit" value="Register" id="buttonReg" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>