@{
    ViewData["Title"] = "Genesis Prime";
}

<body>
    <div class="container" id="mainContainer">
        <div id="registrationDiv">
            <form asp-action="Register" method="post">
                <table align="center">
                    <tr>
                        <th style="text-align:right">Email:</th>
                        <td>
                            <input type="email" name="Email" id="inputField" />
                        </td>
                        <th id="textConsistency" style="padding:0px 0px 0px 5px">< --- Your account email.</th>
                    </tr>
                    <tr>
                        <th style="text-align:right">Password:</th>
                        <td>
                            <input type="password" name="Password" id="inputField" />
                        </td>
                        <th id="textConsistency" style="padding:0px 0px 0px 5px">< --- Your account password.</th>
                    </tr>
                    <tr>
                        <th style="text-align:right">Confirm Password:</th>
                        <td>
                            <input type="password" name="Confirmation" id="inputFieldBottom" />
                        </td>
                        <th id="textConsistency" style="padding:0px 0px 0px 5px">< --- Re-enter your password.</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Register" id="buttonReg" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>