@{
    ViewData["Title"] = "Registration Failed";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<strong>Reason:</strong>
<p id="textConsistency"> Your passwords didn't match - please go back and try again.</p>
<br />